@charset "UTF-8";
.grid {
  position: relative; }

.grid-item {
  display: block;
  width: 100%; }

.husen {
  align-items: center;
  background: #f0f0f0;
  display: flex;
  font-size: 90%;
  height: 38px;
  justify-content: space-between;
  min-width: 320px;
  width: 100%; }
  .husen .freespace {
    background: #ffaddc;
    height: 100%;
    width: 24px; }
  .husen .base-info {
    align-items: center;
    display: flex;
    padding: 0 2px; }
    .husen .base-info .title::before {
      content: "\2740";
      margin-right: 2px; }
    .husen .base-info .title {
      font-size: 1.2rem;
      margin-right: 2px;
      min-width: 80px;
      text-align: left;
      word-break: break-all; }
    .husen .base-info .name {
      display: none; }
    @media screen and (min-width: 375px) {
      .husen .base-info .name {
        display: block;
        line-height: 15px;
        margin-right: 2px;
        text-align: center;
        width: 60px; } }
    .husen .base-info img {
      margin: 4px 2px 4px 0;
      width: 30px; }
    .husen .base-info .rcr-outer {
      border-radius: 14% / 50%;
      padding: 2px 1px;
      width: 100px; }
    .husen .base-info .rcr-inner {
      background: #eeeeee;
      border: solid 1px #cfcfcf;
      border-radius: 12% / 50%;
      margin: 0 2px;
      padding: 3px 0;
      text-align: center; }
  .husen .skill-info {
    display: flex;
    font-size: 80%;
    justify-content: space-around;
    padding: 0 6px 0 2px;
    width: 60px;
    height: 100%;
    line-height: 38px; }
    .husen .skill-info li {
      position: relative; }
      .husen .skill-info li .title, .husen .skill-info li .desc {
        display: none; }
    .husen .skill-info li:before {
      border-radius: 50%;
      color: #fffffc;
      font-weight: bold;
      margin: 0 2px; }
    .husen .skill-info li.leader:before {
      background-color: #e95295;
      border: solid 3px #e95295;
      content: 'リ'; }
    .husen .skill-info li.arts:before {
      background-color: #e83929;
      border: solid 3px #e83929;
      content: '必'; }
    .husen .skill-info li.ability:before {
      background-color: #674196;
      border: solid 3px #674196;
      content: 'ア'; }
    .husen .skill-info li.search-hit:after {
      background-color: #adf57d;
      border-radius: 50%;
      content: '';
      height: 8px;
      position: absolute;
      right: 0px;
      top: 5px;
      width: 8px; }
  .husen .only-husen {
    display: block; }
  .husen .only-card {
    display: none; }

.card {
  border-radius: 10px;
  box-shadow: #000 1px 1px 2px;
  display: table;
  margin-bottom: 6px;
  width: 100%; }
  .card .base-info {
    border-radius: 10px 0 0 10px;
    display: table-cell;
    padding: 12px 4px;
    vertical-align: middle;
    width: 100px; }
    .card .base-info .title::before {
      content: "\2740";
      margin-right: 2px; }
    .card .base-info .title {
      margin-bottom: 8px;
      font-size: 1.2rem; }
    .card .base-info .name {
      text-align: center; }
      .card .base-info .name .only-card {
        display: inline; }
    .card .base-info img {
      margin: 4px 0;
      width: 100px; }
    .card .base-info .rcr-outer {
      border-radius: 14% / 50%;
      padding: 2px 1px; }
    .card .base-info .rcr-inner {
      background: #eeeeee;
      border: solid 1px #cfcfcf;
      border-radius: 12% / 50%;
      margin: 0 2px;
      padding: 3px 0;
      text-align: center; }
  .card .skill-info {
    background: #fad3a5;
    border-radius: 0 10px 10px 0;
    display: table-cell;
    padding: 0 4px;
    vertical-align: middle; }
    .card .skill-info li {
      background: #fbdadb;
      border: solid 4px #eebbcc;
      border-radius: 10px;
      margin-top: 4px; }
      .card .skill-info li p.title:before {
        color: #fffffc;
        font-size: 1.0rem;
        font-weight: bold;
        margin-right: 4px;
        padding: 2px 8px;
        text-shadow: none;
        /* beforeラベルを縦中央に配置する */
        display: inline-block;
        position: relative;
        top: -2px; }
      .card .skill-info li p.title {
        padding: 4px 2px 3px; }
      .card .skill-info li p.desc {
        background: #3f3a2b;
        border-radius: 0 0 7px 7px;
        color: #efcfd3;
        font-size: 1.2rem;
        line-height: 1.4;
        padding: 4px; }
    .card .skill-info li:last-child {
      margin-bottom: 4px; }
    .card .skill-info li.leader p.title:before {
      background: #e95295;
      border-radius: 7% / 50%;
      content: "リーダースキル"; }
    .card .skill-info li.arts p.title:before {
      background: #e83929;
      border-radius: 15% / 50%;
      content: "必殺技"; }
    .card .skill-info li.ability p.title:before {
      background: #674196;
      border-radius: 11% / 50%;
      content: "アビリティ"; }
  .card .only-husen {
    display: none; }
  .card .only-card {
    display: block; }

.card.theme-1 {
  background: linear-gradient(#fffffc, #ffaddc); }

.theme-1 .title::before {
  color: #d889b9; }

.husenorg {
  width: 300px;
  height: 40px;
  line-height: 40px;
  position: relative;
  background: linear-gradient(90deg, #7cbeff 0%, #7cbeff 10%, #f0f0f0 10%, #f0f0f0 100%);
  /* 付箋の色 */ }

.husenorg:after {
  box-shadow: 0 5px 5px #999;
  /* ぼかし */
  content: "";
  height: 35px;
  position: absolute;
  left: 2px;
  top: 0;
  transform: rotate(-3deg);
  /* 回転 */
  width: 170px;
  z-index: -1; }
