/* カラーパレットメモ */
#color-palette {
  /*  1 : 結城 友奈　   */ border-color: #d889b9; background-color: #ffaddc;
  /*  2 : 東郷 美森　   */ border-color: #6db9c6; background-color: #95b9e6;
  /*  3 : 犬吠埼 風　   */ border-color: #c9b649; background-color: #fde566;
  /*  4 : 犬吠埼 樹　   */ border-color: #62a770; background-color: #83d982;
  /*  5 : 三好 夏凜　   */ border-color: #d96266; background-color: #ff7f84;
  /*  6 : 乃木 園子(中) */ border-color: #cc93d8; background-color: #f1adff;
  /*  7 : 鷲尾 須美　   */ border-color: #8b96c6; background-color: #adc0f8;
  /*  8 : 三ノ輪 銀　   */ border-color: #d9746e; background-color: #ff9d94;
  /*  9 : 乃木 園子(小) */ border-color: #a275cd; background-color: #bf8cf1;
  /* 10 : 乃木 若葉　   */ border-color: #81a0c8; background-color: #9cc1f1;
  /* 11 : 土居 球子　   */ border-color: #e68a5a; background-color: #feb28d;
  /* 12 : 伊予島 杏　   */ border-color: #998f84; background-color: #d8d0c3;
  /* 13 : 郡 千景　　   */ border-color: #db6b91; background-color: #fe92b8;
  /* 14 : 高嶋 友奈　   */ border-color: #d889b9; background-color: #fcaedc;
  /* 15 : 上里 ひなた   */ border-color: #f3a54b; background-color: #f9cd64;
  /* 16 : 白鳥 歌野　   */ border-color: #8c974c; background-color: #e4e65c;
  /* 17 : 藤森 水都　   */ border-color: #7d7f4d; background-color: #9bb459;
  /* 18 : 秋原 雪花　   */ border-color: #7f4d66; background-color: #677273;
  /* 19 : 古波蔵 棗　   */ border-color: #aecccc; background-color: #f5ffff;
  /* 20 : 楠 芽吹　　   */ border-color: #70b56e; background-color: #6dce6a;
  /* 21 : 加賀城 雀　   */ border-color: #cecc51; background-color: #e9e773;
  /* 22 : 弥勒 夕海子   */ border-color: #b15dcd; background-color: #db93f3;
  /* 23 : 山伏 しずく   */ border-color: #73b6b5; background-color: #a5dad9;
  /* 24 : 国土 亜耶　   */ border-color: #c39c4f; background-color: #edcb88;

  /*  1 : 源 モモ　  　 */ border-color: #ffb6c4; background-color: #ffc7d2;
  /*  2 : 半蔵門 雪　   */ border-color: #a3e1ff; background-color: #b8e8ff;
  /*  3 : 相模 楓　　   */ border-color: #d1aede; background-color: #dcc1e6;
  /*  4 : 八千代 命　   */ border-color: #ffbd97; background-color: #ffccaf;
  /*  5 : 石川 五恵　   */ border-color: #98ade2; background-color: #b0c0e9;
  /*  6 : 青葉 初芽　   */ border-color: #fcde8e; background-color: #fde6a8;
}

.list-card .theme-0101 {
  background: linear-gradient(#fffffc, #ffaddc);
}
.list-card .theme-0101 .yusha-title::before {
  color: #d889b9;
}
.list-card .theme-0102 {
  background: linear-gradient(#fffffc, #95b9e6);
}
.list-card .theme-0102 .yusha-title::before {
  color: #6db9c6;
}
.list-card .theme-0103 {
  background: linear-gradient(#fffffc, #fde566);
}
.list-card .theme-0103 .yusha-title::before {
  color: #c9b649;
}
.list-card .theme-0104 {
  background: linear-gradient(#fffffc, #83d982);
}
.list-card .theme-0104 .yusha-title::before {
  color: #62a770;
}
.list-card .theme-0105 {
  background: linear-gradient(#fffffc, #ff7f84);
}
.list-card .theme-0105 .yusha-title::before {
  color: #d96266;
}
.list-card .theme-0106 {
  background: linear-gradient(#fffffc, #f1adff);
}
.list-card .theme-0106 .yusha-title::before {
  color: #cc93d8;
}
.list-card .theme-0107 {
  background: linear-gradient(#fffffc, #adc0f8);
}
.list-card .theme-0107 .yusha-title::before {
  color: #8b96c6;
}
.list-card .theme-0108 {
  background: linear-gradient(#fffffc, #ff9d94);
}
.list-card .theme-0108 .yusha-title::before {
  color: #d9746e;
}
.list-card .theme-0109 {
  background: linear-gradient(#fffffc, #bf8cf1);
}
.list-card .theme-0109 .yusha-title::before {
  color: #a275cd;
}
.list-card .theme-0110 {
  background: linear-gradient(#fffffc, #9cc1f1);
}
.list-card .theme-0110 .yusha-title::before {
  color: #81a0c8;
}
.list-card .theme-0111 {
  background: linear-gradient(#fffffc, #feb28d);
}
.list-card .theme-0111 .yusha-title::before {
  color: #e68a5a;
}
.list-card .theme-0112 {
  background: linear-gradient(#fffffc, #d8d0c3);
}
.list-card .theme-0112 .yusha-title::before {
  color: #998f84;
}
.list-card .theme-0113 {
  background: linear-gradient(#fffffc, #fe92b8);
}
.list-card .theme-0113 .yusha-title::before {
  color: #db6b91;
}
.list-card .theme-0114 {
  background: linear-gradient(#fffffc, #fcaedc);
}
.list-card .theme-0114 .yusha-title::before {
  color: #d889b9;
}
.list-card .theme-0115 {
  background: linear-gradient(#fffffc, #f9cd64);
}
.list-card .theme-0115 .yusha-title::before {
  color: #f3a54b;
}
.list-card .theme-0116 {
  background: linear-gradient(#fffffc, #e4e65c);
}
.list-card .theme-0116 .yusha-title::before {
  color: #8c974c;
}
.list-card .theme-0117 {
  background: linear-gradient(#fffffc, #9bb459);
}
.list-card .theme-0117 .yusha-title::before {
  color: #7d7f4d;
}
.list-card .theme-0118 {
  background: linear-gradient(#fffffc, #677273);
}
.list-card .theme-0118 .yusha-title::before {
  color: #7f4d66;
}
.list-card .theme-0119 {
  background: linear-gradient(#fffffc, #f5ffff);
}
.list-card .theme-0119 .yusha-title::before {
  color: #aecccc;
}
.list-card .theme-0120 {
  background: linear-gradient(#fffffc, #6dce6a);
}
.list-card .theme-0120 .yusha-title::before {
  color: #70b56e;
}
.list-card .theme-0121 {
  background: linear-gradient(#fffffc, #e9e773);
}
.list-card .theme-0121 .yusha-title::before {
  color: #cecc51;
}
.list-card .theme-0122 {
  background: linear-gradient(#fffffc, #db93f3);
}
.list-card .theme-0122 .yusha-title::before {
  color: #b15dcd;
}
.list-card .theme-0123 {
  background: linear-gradient(#fffffc, #a5dad9);
}
.list-card .theme-0123 .yusha-title::before {
  color: #73b6b5;
}
.list-card .theme-0124 {
  background: linear-gradient(#fffffc, #edcb88);
}
.list-card .theme-0124 .yusha-title::before {
  color: #c39c4f;
}
.list-card .theme-0201 {
  background: linear-gradient(#fffffc, #ffc7d2);
}
.list-card .theme-0201 .yusha-title::before {
  color: #ffb6c4;
}
.list-card .theme-0202 {
  background: linear-gradient(#fffffc, #b8e8ff);
}
.list-card .theme-0202 .yusha-title::before {
  color: #a3e1ff;
}
.list-card .theme-0203 {
  background: linear-gradient(#fffffc, #dcc1e6);
}
.list-card .theme-0203 .yusha-title::before {
  color: #d1aede;
}
.list-card .theme-0204 {
  background: linear-gradient(#fffffc, #ffccaf);
}
.list-card .theme-0204 .yusha-title::before {
  color: #ffbd97;
}
.list-card .theme-0205 {
  background: linear-gradient(#fffffc, #b0c0e9);
}
.list-card .theme-0205 .yusha-title::before {
  color: #98ade2;
}
.list-card .theme-0206 {
  background: linear-gradient(#fffffc, #fde6a8);
}
.list-card .theme-0206 .yusha-title::before {
  color: #fcde8e;
}
/**
 * レアリティ装飾
 */
.theme-rare-4 { /* SSR装飾 */
  background: linear-gradient(120deg, #f85c61, #ffd47d, #bff792, #51ee90, #8ce8ff, #ad92ee, #f78fcb);
}
.theme-rare-3 { /* SR装飾 */
  background: linear-gradient(120deg, #b58208, #ffd900, #ffff80, #ffd900, #b58208);
}
.theme-rare-2 { /* R装飾 */
  background: linear-gradient(120deg, #0c416d, #70afc9, #c5eef0, #70afc9, #0c416d);
}
.theme-rare-1 { /* N装飾 */
  background: linear-gradient(120deg, #663900, #c38600, #ffc566, #c38600, #663900);
}
.theme-rare-0 { /* 装飾なし */
  background: #eeeeee;
}

/**
 * 属性装飾
 */
.theme-color-1, .red {
  color: #fffffc;
  text-shadow: /* 文字の縁取り */
      #ba3131  1px 1px 1px, #ba3131 -1px -1px 1px, /* 右下、左上 */
      #ba3131 -1px 1px 1px, #ba3131  1px -1px 1px, /* 左下、右上 */
      #ba3131  0   1px 2px, #ba3131  0   -1px 2px, /* 下、上 */
      #ba3131 -1px 0   2px, #ba3131  1px  0   2px; /* 左、右 */
}
.theme-color-2, .blue {
  color: #fffffc;
  text-shadow: /* 文字の縁取り */
      #3a4b9e  1px 1px 1px, #3a4b9e -1px -1px 1px, /* 右下、左上 */
      #3a4b9e -1px 1px 1px, #3a4b9e  1px -1px 1px, /* 左下、右上 */
      #3a4b9e  0   1px 2px, #3a4b9e  0   -1px 2px, /* 下、上 */
      #3a4b9e -1px 0   2px, #3a4b9e  1px  0   2px; /* 左、右 */
}
.theme-color-3, .green {
  color: #fffffc;
  text-shadow: /* 文字の縁取り */
      #528e28  1px 1px 1px, #528e28 -1px -1px 1px, /* 右下、左上 */
      #528e28 -1px 1px 1px, #528e28  1px -1px 1px, /* 左下、右上 */
      #528e28  0   1px 2px, #528e28  0   -1px 2px, /* 下、上 */
      #528e28 -1px 0   2px, #528e28  1px  0   2px; /* 左、右 */
}
.theme-color-4, .yellow {
  color: #fffffc;
  text-shadow: /* 文字の縁取り */
      #e1ae20  1px 1px 1px, #e1ae20 -1px -1px 1px, /* 右下、左上 */
      #e1ae20 -1px 1px 1px, #e1ae20  1px -1px 1px, /* 左下、右上 */
      #e1ae20  0   1px 2px, #e1ae20  0   -1px 2px, /* 下、上 */
      #e1ae20 -1px 0   2px, #e1ae20  1px  0   2px; /* 左、右 */
}
.theme-color-5, .purple {
  color: #fffffc;
  text-shadow: /* 文字の縁取り */
      #804390  1px 1px 1px, #804390 -1px -1px 1px, /* 右下、左上 */
      #804390 -1px 1px 1px, #804390  1px -1px 1px, /* 左下、右上 */
      #804390  0   1px 2px, #804390  0   -1px 2px, /* 下、上 */
      #804390 -1px 0   2px, #804390  1px  0   2px; /* 左、右 */
}